* {
    padding: 0;
    margin: 0;
}

.container {
    width: 90vw;
    height: 80vh;
    background-color: rgb(162, 62, 255);
    position: relative;
    overflow: hidden;
}

.box {
    background-color: red;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    animation: ballMove 3s linear infinite;
}

@keyframes ballMove {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20vw, -30vh);
    }

    50% {
        transform: translate(40vw, 0);
    }

    75% {
        transform: translate(60vw, -30vh);
    }

    100% {
        transform: translate(80vw, 0);
    }
}